.ui-tabs {
    padding: .2em;
    zoom: 1;
}

.ui-tabs .ui-tabs-nav {
    list-style: none;
    position: relative;
    padding: .2em .2em 0;
}

.ui-tabs .ui-tabs-nav li {
    position: relative;
    float: left;
    border-bottom-width: 0 !important;
    margin: 0 .2em -1px 0;
    padding: 0;
    width: 200px;
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    text-decoration: none;
    padding: .5em 1em;
    width: 200px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom: 1px;
    border-bottom-width: 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}

/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabs .ui-tabs-panel {
    padding-top: 1em;
    display: block;
    /*border-width: 0;*/
    background: none;
    border: #C2C7CD solid 1px;
    width: 630px;
    padding-left: 10px;
    margin-left: 3px;
}

.ui-tabs .ui-tabs-hide {
    display: none !important;
}

/* Corner radius */
.ui-corner-tl {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}

.ui-corner-tr {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}

.ui-corner-bl {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.ui-corner-br {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.ui-corner-top {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}

.ui-corner-bottom {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.ui-corner-right {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.ui-corner-left {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.ui-corner-all {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* Interaction states
----------------------------------*/

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #ffffff;
    text-decoration: none;
    outline: none;
}

.ui-state-hover a, .ui-state-hover a:hover {
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #ffffff;
    outline: none;
    text-decoration: none;
}