* {
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    width: 100%;
}

h1 {
    font-size: 20px;
    color: #4D4D4D;
}

h3 {
    font-size: 16px;
    color: #3D3D3D;
}

th {
    color: #fff;
    height: 40px;
}

td {
    color: #1B1B1B;
    padding: 8px;
    border: 1.5px solid #FFF;
    text-align: left;
}

tr.backgroundBlue {
    background-color: #CDE4F2;
}

tr.backgroundGray {
    background-color: #ECE9E9;
}

table {
    font-size: 12px;
    width: 618px;
    table-layout: fixed;
}

.even {
    background-color: #3D3D3D;
}

.odd {
    background-color: #6E6E6E;
}

.highlight {
    background-color: #3D3D3D;
    font-weight: bold;
}


div.back {
    background: #576;
    padding: 1.5em;
}

div.section {
    background: #CDE4F2;
    margin: -0.25em 0 0 -0.25em;
}

.module {
    border: 1px solid #CDE4F2;
    border-bottom: 2px solid #CDE4F2;
    border-top: 1px solid #CDE4F2;
    border-radius: 10px;
    -moz-border-radius: 10px;
    width: 120px;
    height: 263px;
}

#large td:hover {
    cursor: pointer;
}

#large th:hover {
    cursor: pointer;
}

label.left {
/*margin-left: 0px;*/
}

label.colonAppId {
    margin-left: 32px;
}

label.colonAppName {
/*margin-left: 0px;*/
/*padding-left:-50px;*/
}

label.colonKeyword {
    margin-left: 64px;
}

.info_data {
/*width: 300px;*/
    float: left;
    color: #333;
/*margin: 0.5em 0 1em 5em;*/
/*margin-left: -60px;*/
}

div.left {
    float: left;
    width: 18%;
}

div.left_inside {
    padding-right: 10px;
    width: 120px;
    height: 263px;
}

div.module_inside {
    width: 120px;
    height: 263px;
}

.select_items {
    width: 115px;
    margin-left: 3px;
    border-style: solid;
    border: 1.5px solid #FFF;
}

div.right {
    float: right;
    width: 78%;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

div.paging {
    float: right;
    width: auto;
    height: 35px;
    overflow-y: hidden;
    overflow-x: hidden;
    color: #2277BB;
}

div.right_inside {
    width: 480px;
}

.ovalBorderLeft {
    -moz-border-radius-topleft: 6px;
    background-color: #ffffff;
}

.ovalBorderRight {
    -moz-border-radius-topright: 5px;
    background-color: #ffffff;
}

div.blank {
    height: 1.5px;
}

.backColor {
    background-color: #ffffff;
}

.pagingNext {
    text-align: right;
}

.pagingPrev {
    text-align: left;
}

.defaultPagingNumbers {
    color: #2277BB;
}

.currentPageNumber {
    color: red;
}

a:hover {
    text-decoration: none;
    color: #ff9900;
    cursor: pointer;
}

.pagingTable {
    display: table;
}

.pagingRow {
    display: table-row;
}

.previousDiv {
    display: table-cell;
    width: 1%;
    text-align: center;
    margin-left: 165px;
}

.firstDiv {
    
    display: table-cell;
    width: 1%;
    text-align: center;
    margin-left: 32px;
}

.nextDiv {
    display: table-cell;
    width: 1%;
    text-align: center;
    margin-left: 180px;
}

.centerDiv {
    display: block;
    width: 90%;
    text-align: center;
}

.zeroPadding {
    padding-top:0;
    padding-bottom:10px;
    margin-bottom:10px;
}

.refresh {
    float:right;
    padding-right:15px;
}

.spanFont {
    font-weight:bold;
}

.wordWrap {
    word-wrap: break-word;
    text-align:center;
}

.headings {
    color: #3c3c3c;
    font-size: 14px;
}
.checkBox {
    word-wrap: break-word;
    font-size:12px;
    color: #000000;
}


.messageBox {
    border : 1px solid #cccccc;
    padding : 10px;
    -moz-border-radius:6px 6px 6px 6px;
    width:598px;
    height:100px;
}

.messageTitle {
    position : relative;
    top : 7px;
    left : 9px;
    background-color : white;
    padding : 0 5px;
}

