<?xml version="1.0" encoding='UTF-8'?>
<jsp:root version="2.0"
          xmlns="http://www.w3c.org/1999/xhtml"
          xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
          xmlns:spring="http://www.springframework.org/tags"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:form="http://www.springframework.org/tags/form"
          xmlns:c="http://java.sun.com/jsp/jstl/core"
          xmlns:jspx="http://www.w3.org/2001/XMLSchema"
          xsi:schemaLocation="http://www.w3c.org/1999/xhtml shttp://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd">
<jsp:directive.page contentType="text/html;charset=UTF-8"/>

<script type="text/javascript">

//    document.getElementById("input-text-wrap").style.backgroundColor="#D6D5D9";



    function toggleEditButton(buttonId) {
        var button = document.getElementById(buttonId);
        if(button.innerHTML == "Edit") {
            if(buttonId == "edit"){
                enableEdit();
            } else if(buttonId == "editBill") {
                enableEditBill();
            } else if(buttonId == "editPassword") {
                enableEditPassword();
            }
            button.innerHTML="<fmt:message key='update'/>";
        } else {
            if(buttonId == "editPassword") {
                if(isEmptyField()) {
                   disableEditPassword();
                }
                else {
                    changePassword();
                }

            }
            else {
                update();
            }

            button.innerHTML="Edit";
        }

    }

    function isEmptyField() {
        var txtPassword = document.getElementById("password");
        var txtNewPassword = document.getElementById("newPassword");
        var txtConfirmPassword = document.getElementById("confirmPassword");

        if(txtPassword.value.length.toString() == "0") {
            if(txtNewPassword.value.length.toString() == "0") {
                if(txtConfirmPassword.value.length.toString() == "0") {
                    return true;
                }
            }
        }

        return false;
    }

    function enableEdit(){
//        setReadonlyState(document.getElementById("regType"),false);
//        setReadonlyState(document.getElementById("RadioGroup3_2"),false);
//        setReadonlyState(document.getElementById("RadioGroup3_1"),false);
//        setReadonlyState(document.getElementById("email2"),false);
//        setReadonlyState(document.getElementById('contactPersonName'),false);
//        setReadonlyState(document.getElementById('name'),false);
        setReadonlyState(document.getElementById('email'),false);
        setReadonlyState(document.getElementById('telephone'),false);
//        setReadonlyState(document.getElementById("regCode"),false);
//        document.getElementById("regType").style.backgroundColor = "#C0C0C0";



    }
    function enableEditBill() {
        setReadonlyState(document.getElementById("billName"),false);
        setReadonlyState(document.getElementById("address"),false);
        setDisabledState(document.getElementById("RadioGroup2_1"),false);
        setDisabledState(document.getElementById("RadioGroup2_2"),false);
    }

    function enableEditPassword() {
        setReadonlyState(document.getElementById("password"),false);
        setReadonlyState(document.getElementById("newPassword"),false);
        setReadonlyState(document.getElementById("confirmPassword"),false);

    }

    function disableEditPassword() {
        setReadonlyState(document.getElementById("password"),true);
        setReadonlyState(document.getElementById("newPassword"),true);
        setReadonlyState(document.getElementById("confirmPassword"),true);

    }

    function setDisabledState(obj, state) {
        if (state) {
            obj.setAttribute('disabled', state);
        } else {
            obj.removeAttribute('disabled');
        }
     }


     function setReadonlyState(obj, state) {
        if (state) {
            obj.setAttribute('readOnly', state);
        } else {
            obj.removeAttribute('readOnly');
        }
     }

     function changePassword() {
        document.personalDetail.action="../personalData/changePassword.html";
        document.personalDetail.submit();
     }

     function update() {

        document.personalDetail.action="../personalData/update.html";
        document.personalDetail.submit();
     }

    function confirmDelete() {
            var confirmationTxt = '<fmt:message key="settings.personalDetails.delete" />';
            jConfirm(confirmationTxt, '<fmt:message key="confirmation.dialog" />', function(r) {
                if(r == true) {
                }
            });
        }

</script>

<div id="header2">
<p id="tagline"><fmt:message key='tag.line'/></p>

<div style="clear:both;"><fmt:message key="blank"/></div>

<div id="body">
<div class="sub_heading">
    <h1><fmt:message key='my.profile'/></h1>
</div>

<div class="grid_1 alpha"><fmt:message key="blank"/></div>
<div class="grid_16">
<div id="dashboard-widgets-wrap">
<div id='dashboard-widgets' class='metabox-holder'>

<form:form method="post" commandName="registration" id="quick-press" name="personalDetail">



<div id="dashboard_quick_press" class="postbox">
    <h3 class='hndle'><span><fmt:message key='personal.details'/></span></h3>

    <div class="button_edit">
            <!--<input type="button" id="edit" name="edit" class="button" value=" Edit " style="width:50px"
                    onclick="toggleEditButton('edit')"></input>-->
        <a href="javascript:toggleEditButton('edit')" id="edit"><fmt:message key='edit'/></a>
    </div>

    <div class="inside" id="personalDetail">
        <div class="clear"> <!--wrap--> </div>
        <h4><label for="username"><fmt:message key='username'/></label></h4>

        <div class="input_row">
            <form:errors path="userName" cssClass="error-req"/>

            <div class="input-text-wrap">
                <form:input path="userName" name="userName" id="username" readonly="true"/>
            </div>
        </div>
        <!--<h4><label for="regType"><fmt:message key='registraion.type'/></label></h4>-->

        <!--<div class="input_row">-->
            <!--<div class="info_group">-->
            <!--<div class="error-req"><fmt:message key="blank"/> </div>-->
            <!--<form:radiobutton path="registrationType" name="RadioGroup2" value="Cooperate"-->
                              <!--id="RadioGroup3_1"-->
                              <!--tabindex="3" readonly="true" checked='false'-->
                              <!--style="border:none"/>-->
            <!--<label for="RadioGroup2_1"><fmt:message key='cooperate'/></label>-->

            <!--<fmt:message key="blank"/>-->
            <!--<fmt:message key="blank"/>-->
            <!--<form:radiobutton path="registrationType" name="RadioGroup2" value="Individual"-->
                              <!--id="RadioGroup3_2"-->
                              <!--tabindex="4" readonly="true" cheked='true'-->
                              <!--style="border:none"/>-->
            <!--<label for="RadioGroup2_2"><fmt:message key='individual'/></label>-->
        <!--</div>-->
        <!--</div>-->
        <!--<c:if test="${cp.isPersonal}">-->
            <h4><label for="name"><fmt:message key='name'/></label></h4>
            <div class="input_row">
                <form:errors path="cp.name" cssClass="error-req"/>

                <div class="input-text-wrap">
                    <form:input path="cp.name" name="name" id="name" readonly="true"/>
                </div>
            </div>
            <h4><label for="email"><fmt:message key='email'/></label></h4>

            <div class="input_row">
                <div><form:errors path="cp.email" cssClass="error-req"/></div>

                <div class="input-text-wrap">
                    <form:input path="cp.email" name="email" id="email" readonly="true"/>
                </div>
            </div>
            <h4><label for="regTypee"><fmt:message key='telephone'/></label></h4>

            <div class="input_row">
                <div><form:errors path="cp.telephone" cssClass="error-req"/></div>

                <div class="input-text-wrap">
                    <form:input path="cp.telephone" name="telephone" id="telephone" readonly="true"/>
                </div>
            </div>
        <!--</c:if>-->
        <!--<c:if test="${ not cp.isPersonal}">-->
            <!--<h4><label for="regTypee"><fmt:message key='contact.person'/></label></h4>-->
            <!--<div class="input_row">-->
                <!--<form:errors path="cp.contactPersonName" cssClass="error-req"/>-->

                <!--<div class="input-text-wrap">-->
                    <!--<form:input path="cp.contactPersonName" name="contactPersonName" id="contactPersonName" readonly="true"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<h4><label for="email"><fmt:message key='email'/></label></h4>-->

            <!--<div class="input_row">-->
                <!--<form:errors path="cp.email" cssClass="error-req"/>-->

                <!--<div class="input-text-wrap">-->
                    <!--<form:input path="cp.email" name="email" id="email2" readonly="true"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<h4><label for="regCode"><fmt:message key='register.code'/></label></h4>-->

            <!--<div class="input_row">-->
                <!--<form:errors path="cp.registerCode" cssClass="error-req"/>-->

                <!--<div class="input-text-wrap">-->
                    <!--<form:input path="cp.registerCode" name="regCode" id="regCode" readonly="true"/>-->
                <!--</div>-->

            <!--</div>-->
        <!--</c:if>-->


        <div> <!--wrap--> </div>
    </div>





    <div class="clear"> <!--wrapper--> </div>
    <!--</div>-->
</div>
<div id="dashboard_quick_press" class="postbox">
    <h3 class='hndle'><span><fmt:message key='billing.details'/></span></h3>

    <div class="button_edit">
            <!--<input type="button" id="editBill" name="edit" class="button" value=" Edit " style="width:50px"
                    onclick="toggleEditButton('editBill')"></input>-->
            <a href="javascript:toggleEditButton('editBill')" id="editBill"><fmt:message key='edit'/></a>
    </div>
    <div class="inside">
        <div class="clear"> <!--wrap--> </div>
        <h4><label for="billName"><fmt:message key='name'/></label></h4>

        <div class="input_row">
            <form:errors path="cp.billingInfo.billingName" cssClass="error-req"/>

            <div class="input-text-wrap">
                <form:input path="cp.billingInfo.billingName" name="billName" id="billName" readonly="true"/>
            </div>
        </div>
        <h4><label for="address"><fmt:message key='billing.address'/></label></h4>

        <div class="input_row">
            <div class="error-req"><form:errors path="cp.billingInfo.billingAddress"/></div>
            <div class="textarea-wrap">
                <form:textarea path="cp.billingInfo.billingAddress" name="address" id="address" readonly="true"
                               tabindex="2"/>
            </div>
        </div>

        <h4><label for="RadioGroup2_1"><fmt:message key='mail.type'/></label></h4>

        <div class="info_group">
            <div class="error-req"><fmt:message key="blank"/> </div>
            <form:radiobutton path="mailType" name="RadioGroup1" value="Normal"
                              id="RadioGroup2_1"
                              tabindex="3" checked='true'
                              style="border:none" disabled="true"/>
            <label for="RadioGroup2_1"><fmt:message key='normal'/></label>

            <fmt:message key="blank"/>
            <fmt:message key="blank"/>
            <form:radiobutton path="mailType" name="RadioGroup1" value="Express"
                              id="RadioGroup2_2"
                              tabindex="4"
                              style="border:none" disabled="true"/>
            <label for="RadioGroup2_2"><fmt:message key='express'/></label>
        </div>        <div> <!--wrap--> </div>
    </div>



    <div class="clear"> <!--wrapper--> </div>

</div>

<div id="dashboard_quick_press" class="postbox">
    <h3 class='hndle'><span><fmt:message key='mobile.phone.details'/></span></h3>
    <div class="clear"><fmt:message key="blank"/></div>
    <div align="center"> <table class="report_table_header">
        <tr>
            <th><div align="center"><fmt:message key='operator'/></div></th>
            <th><div align="center"><fmt:message key='phone.number'/></div></th>
            <th><div align="center"><fmt:message key='status'/></div></th>
            <!--<th><div align="center">Action</div></th>-->
        </tr>

        <tr>
        <c:forEach items="${registration.cp.msisdns}" var="msisdns">
                <td style="padding-left:5px"><c:out value="${msisdns.msisdn.operator}"/></td>

                <td style="padding-left:5px"><c:out value="${msisdns.msisdn.address}"/> </td>
                <td style="padding-left:5px">
                    <c:if test="${msisdns.msisdnVerified}">
                        <fmt:message>
                            <jsp:attribute name="key">
                                <c:out value="active"></c:out>
                            </jsp:attribute>
                        </fmt:message>
                    </c:if>
                    <c:if test="${!msisdns.msisdnVerified}">
                        <fmt:message>
                            <jsp:attribute name="key">
                                <c:out value="inactive"></c:out>
                            </jsp:attribute>
                        </fmt:message>
                    </c:if>
                </td>
               <!-- <td>
                    <jsp:element name="img">
                        <jsp:attribute name="id"><c:out value="divDel_${itemsRow.index}"/></jsp:attribute>
                        <jsp:attribute name="src"><c:url value="/images/cross.png"/></jsp:attribute>
                        <jsp:attribute name="style">
                                         no-repeat;margin-top:3px;margin-bottom:3px;
                                         margin-left:10px;
                                         float:left;width:16px;
                                         height:14px;cursor:pointer
                        </jsp:attribute>
                        <jsp:attribute name="title">Delete</jsp:attribute>
                        <jsp:attribute name="onclick">confirmDelete()</jsp:attribute>
                    </jsp:element>
                </td>-->
            </c:forEach>
            </tr>


        <!--<tr>-->
            <!--<td>Dialog Telecom</td>-->
            <!--<td>94775222365 </td>-->
            <!--<td>Active</td>-->
            <!--<td>-->
                <!--<jsp:element name="img">-->
                    <!--<jsp:attribute name="id"><c:out value="divDel_${itemsRow.index}"/></jsp:attribute>-->
                    <!--<jsp:attribute name="src"><c:url value="/images/cross.png"/></jsp:attribute>-->
                    <!--<jsp:attribute name="style">-->
                                     <!--no-repeat;margin-top:3px;margin-bottom:3px;-->
                                     <!--margin-left:10px;-->
                                     <!--float:left;width:16px;-->
                                     <!--height:14px;cursor:pointer-->
                    <!--</jsp:attribute>-->
                    <!--<jsp:attribute name="title">Delete</jsp:attribute>-->
                    <!--<jsp:attribute name="onclick">confirm('Are you sure, you want to remove this number?')</jsp:attribute>-->
                <!--</jsp:element>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>Mobitel</td>-->
            <!--<td>94715222365 </td>-->
            <!--<td>-->
                <!--Deactive  |  -->
                <!--<a href="activate.html" rel="facebox">Activate</a>-->
<!--</td>-->
            <!--<td>-->
                <!--<jsp:element name="img">-->
                    <!--<jsp:attribute name="id"><c:out value="divDel_${itemsRow.index}"/></jsp:attribute>-->
                    <!--<jsp:attribute name="src"><c:url value="/images/cross.png"/></jsp:attribute>-->
                    <!--<jsp:attribute name="style">-->
                                     <!--no-repeat;margin-top:3px;margin-bottom:3px;-->
                                     <!--margin-left:10px;-->
                                     <!--float:left;width:16px;-->
                                     <!--height:14px;cursor:pointer-->
                    <!--</jsp:attribute>-->
                    <!--<jsp:attribute name="title">Delete</jsp:attribute>-->
                    <!--<jsp:attribute name="onclick">confirm('Are you sure, you want to remove this number?')</jsp:attribute>-->
                <!--</jsp:element>-->
            <!--</td>-->
        <!--</tr>-->

    </table>     </div>
    <div class="clear"><fmt:message key="blank"/></div>
    <!--<a href="addNewNumber.html" style="padding-left:20px" rel="facebox">Add Another Number</a>-->
    <div class="clear"><fmt:message key="blank"/></div>
</div>
<div id="dashboard_quick_press" class="postbox">
    <h3 class='hndle'><span><fmt:message key='change.password'/></span></h3>

    <div class="button_edit">
            <!--<input type="button" id="editPassword" name="edit" class="button" value=" Edit " style="width:50px"
                    onclick="toggleEditButton('editPassword')"></input>-->
        <a href="javascript:toggleEditButton('editPassword')" id="editPassword"><fmt:message key='edit'/></a>
    </div>
    <div class="inside">
        <div class="clear"> <!--wrap--> </div>
        <h4><label for="password"><fmt:message key='old.password'/></label></h4>

        <div class="input_row">

           <div> <form:errors path="password" cssClass="error-req"/> </div>

            <div class="input-text-wrap">
                <form:password path="password" name="password" id="password" readonly="true"/>
           </div>
         <div  style="margin-left:65px;margin-bottom:18px;margin-top:-10px;">
            <label for="password"><span class="textbox_hint"><fmt:message key='min_chars_password'/></span></label>
         </div>

        </div>
        <h4><label for="newPassword"><fmt:message key='new.password'/></label></h4>

        <div class="input_row">
            <div><form:errors path="newPassword" cssClass="error-req"/></div>

            <div class="input-text-wrap">
                <form:password path="newPassword" name="newPassword" id="newPassword" readonly="true"/>
            </div>

        </div>
        <div> <!--wrap--> </div>
        <h4><label for="confirmPassword"><fmt:message key='confirm.password'/></label></h4>

        <div class="input_row">
            <div><form:errors path="confirmPassword" cssClass="error-req"/></div>

            <div class="input-text-wrap">
                <form:password path="confirmPassword" name="confirmPassword" id="confirmPassword" readonly="true"/>
            </div>
        </div>
        <div> <!--wrap--> </div>
    </div>



    <div class="clear"> <!--wrapper--> </div>

</div>
</form:form>
<!--<form:form method="post" name="confirmAlert" action="save.html" commandName="app">-->
<div style="text-align:center; width:100%">
                                                <!--<span style="padding-right:10px">
                                                    <input type="button" name="next" id="next" value=" Confirm "
                                                           class="button"
                                                           tabindex="6" style="width:50px;"
                                                           onclick="location.href='confirm.html';"/>
                                                </span>-->
                                                <span style="padding-right:10px">
                                                    <jsp:element name="input">
                                                        <jsp:attribute name="type">button</jsp:attribute>
                                                        <jsp:attribute name="name">back</jsp:attribute>
                                                        <jsp:attribute name="id">back</jsp:attribute>
                                                        <jsp:attribute name="value"><fmt:message key='back'/></jsp:attribute>
                                                        <jsp:attribute name="class">button</jsp:attribute>
                                                        <jsp:attribute name="tabindex">5</jsp:attribute>
                                                        <jsp:attribute name="style">width:50px;</jsp:attribute>
                                                        <jsp:attribute name="onclick">location.href='mySettings.html';</jsp:attribute>
                                                    </jsp:element>
                                                </span>
                                                <span style="padding-right:10px">
                                                    <jsp:element name="input">
                                                        <jsp:attribute name="type">button</jsp:attribute>
                                                        <jsp:attribute name="name">back</jsp:attribute>
                                                        <jsp:attribute name="id">reset</jsp:attribute>
                                                        <jsp:attribute name="value"><fmt:message key='reset'/></jsp:attribute>
                                                        <jsp:attribute name="class">button</jsp:attribute>
                                                        <jsp:attribute name="tabindex">5</jsp:attribute>
                                                        <jsp:attribute name="style">width:50px;</jsp:attribute>
                                                        <jsp:attribute name="onclick">location.href='../settings/personalDataSettings.html';</jsp:attribute>
                                                    </jsp:element>
                                                </span>
                                                <span>
                                                    <jsp:element name="input">
                                                        <jsp:attribute name="type">button</jsp:attribute>
                                                        <jsp:attribute name="name">next</jsp:attribute>
                                                        <jsp:attribute name="id">next</jsp:attribute>
                                                        <jsp:attribute name="value"><fmt:message key='cancel'/></jsp:attribute>
                                                        <jsp:attribute name="class">button</jsp:attribute>
                                                        <jsp:attribute name="tabindex">6</jsp:attribute>
                                                        <jsp:attribute name="style">width:50px;</jsp:attribute>
                                                        <jsp:attribute name="onclick">location.href='/soltura/home.html';</jsp:attribute>
                                                    </jsp:element>
                                                </span>
</div>
<div class="clear"><fmt:message key='blank'/></div>
<!--</form:form>-->
</div>
</div>
</div>
<div class="grid_1 omega"><fmt:message key="blank"/></div>
</div>
</div>
</jsp:root>