/* CSS Document */

/*To change the top banner of the site upload the banner image (soltura-top.jpg) to the images folder */

#header {
    background: #fff url("../../images/theme-red/soltura-top.jpg") no-repeat 0 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#header_login {
    background-color: transparent;
    padding: 25px 0px 5px 0px;
    background: url(../../images/theme-red/soltura-bottom.jpg) bottom no-repeat;
}

.advanced a {
    font-family: "arial", sans-serif;
    font-size: 10px;
    color: #7b8c9c;
    text-decoration: none;
}

.advanced a:hover {
    color: #333333;
    text-decoration: underline;
}

/*To change the welcome image of the site upload the welcome image (welcome.jpg) to the images folder */
#welcome {
    background:url(../../images/theme-red/welcome.jpg) no-repeat;
    padding-top:30px;
}


/*To change the background image for the entire site add the background image <bg.jpg> to the images folder and change the color property in the following <background: #FFFFFF  url("../images/bg.jpg") repeat-x;>*/
body {
    background: #FFFFFF  url("../../images/theme-red/bg.jpg") repeat-x !important;;
    margin: 0;
    padding: 0;
    font: 13px / 16px "lucida grande", arial, sans-serif;
    color: #789;
    background-color: #FFFFFF;
}

/*To change the footer color change the <background-color: #d2060e;> */
#trends {
    text-align: left;
    position: relative;
    padding:10px 0 10px 0;
    overflow: hidden;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #d2060e;
    background-repeat: repeat-x;
    background-position: right;
}

/*To change the footer link colors change the <color: #FFFFFF;> */
#trends a, #trends li span {
    display: inline-block;
    padding: 0 15px 0 0;
    color: #FFFFFF;
    outline: none;
    font-size: 15px;
}

/*To change the copyrigth link colors change the <color: #BB030B;> */
#footer a {
    color: green;
}

/*To change the top navigation text color change the <color: #BB030B;> */
#topnav {
    font-size: 11px;
    line-height: 23px;
    padding-top: 24px;
    text-align: right;
    padding-bottom:5px;
    color: #BB030B;
}

/*To change the top navigation  link color change the <color: #88929F>*/
#topnav a, #topnav li span {
    display: inline-block;	padding: 0 15px 0 0;
    color: #88929F;
    outline: none;
}

/*To change the title box color change back ground image by adding title_bg.png to the images folder*/
/*To change the border color of the tile boxes change the color in this <border: 1px solid #BB030B;>*/
.widget .widget-top, .postbox h3, .stuffbox h3 {
    background: url(../../images/theme-red/title_bg.png) repeat-x scroll 50% 50%;
    border: 1px solid #BB030B;
    margin-left:-1px;
    margin-right:-1px;
    margin-top:-1px;
/*widget heading color*/
    color: #ffffff;
    font-weight: bold;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 6px;
    border-top-right-radius:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:6px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    width:auto;
    font-size:15px;

}
/*To change the title box color in advance configuration section change back ground image by adding title_bg.png to the images folder*/
/*To change the border color of the tile boxes change the color in this <border: 1px solid #BB030B;>*/
.expand a:link,  .expand a:visited {
    background: #0078ae url(../../images/theme-red/title_bg.png) repeat-x scroll 50% 50%;
    border: 1px solid #BB030B;
    margin-left:-1px;
    margin-right:-1px;
    margin-top:-1px;
/*widget heading color*/
    color: #ffffff;
    font-weight: bold;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    width:600px;
    font-size:14px;
}

/*To change the border color of the tile boxes in the advance configuration change the color in this <border: 1px solid #BB030B;>*/
.expand a:hover,  .expand a:active, .expand a:focus {
    text-decoration:underline;
    border: 1px solid #BB030B;
    margin-left:-1px;
    margin-right:-1px;
    margin-top:-1px;
    color: #ffffff;
    font-weight: bold;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-top-left-radius:6px;
    -webkit-border-bottom-left-radius:6px;
/*outline-color: -moz-use-text-color;*/
    outline-style: none;
    outline-width: medium;
    width:600px;
    font-size:14px;
    background: #BC040C url(../../images/theme-red/advanceSetting/arrow-down.png) no-repeat 98% 50%;
}

/*To change the border color of the tile boxes in the advance configuration change the color in this <border: 1px solid #BB030B;>*/
.expand a.open:link, .expand a.open:visited {
    border: 1px solid #BB030B;
    margin-left:-1px;
    margin-right:-1px;
    margin-top:-1px;
    color: #ffffff;
    font-weight: bold;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    -webkit-border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
/*outline-color: -moz-use-text-color;*/
    outline-style: none;
    outline-width: medium;
    width:600px;
    font-size:14px;
    background: #BB040C url(../../images/theme-red/advanceSetting/arrow-up.png) no-repeat 98% 50%;
}

/*To change the links color in the UI chnage this property <color: #BB030B;> */
a:link, a:visited, a:active, a:focus {
    color: #BB030B;
    text-decoration: none;
}
/*To change the table header clors chnage this property <background-color: #A9AFBA;>   */
.report_table_header tr th{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    color:#FFFFFF;
    height:30px;
    text-align: center;
    vertical-align: middle;
    background-color: #A9AFBA;
}

/*To change the table body content  colors chnage this property <background-color: #E3E4E8>   */
.report_table_header tr td{
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:normal;
    color:#1B1B1B;
    text-align:left;
    vertical-align:top;
    height:30px;
    background-color: #E3E4E8;
    padding-top:5px;
}

/*To change the table header content  colors chnage this property background-color: #E3E4E8>  */
.report_table tr td{
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:normal;
    color:#1B1B1B;
    text-align:right;
    padding: 5px 10px 0 10px;
    vertical-align:top;
    height:30px;
    background-color: #E3E4E8;
}
h1 {
    padding: 8px;
    display: block;
    text-align: center;
    margin: 35px auto 20px auto !important;
    display: block;
    text-align: center;
    font-weight: normal;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 23px;
    color: #333333;
}


.bold_text {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
}

.my_app_link a {
    text-decoration:none;
    color:#21759b
}


#dashboard_quick_press h4 label {
    margin-right: 10px;
    color:#304991;
    font-size:14px;
}

.menu_title {
    padding-left:40px;
    color:#333333;
    width : 200px;

}

#login form .submit input {
    border-color: #bbb !important;
    color: #464646;
    background: #f2f2f2 url(../../images/theme-red/white-grad.png) repeat-x scroll left top;
}

#login form .submit input:hover,
input[type=button]:hover,
input[type=submit]:hover {
    color: #000 !important;
    border-color: #666 !important;
}


.button, .submit input, .button-secondary {
    background: #f2f2f2 url(../../images/theme-red/white-grad.png) repeat-x scroll left top;
}

.button, .button-secondary, .submit input, input[type="button"], input[type="submit"] {
    border-color: #bbbbbb;
    color: #464646;
}

label {
    color: #616265;
    font-size: 13px;
}


.confirm {
    font-size:2;
    color:#ff6633;
}


#success_link a {
    color: #789;
}

.success_msg {
    color:#91B61F;
}

#popup_container {
    font-family: Arial, sans-serif;
    font-size: 12px;
    min-width: 300px; /* Dialog will be no smaller than this */
    max-width: 600px; /* Dialog will wrap after this width */
    background: #FFF;
    border: solid 3px #333333;
    color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#popup_title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1.75em;
    color: #ffffff ;
    background: #d2060e url(../../images/title.gif) top repeat-x;
    border: solid 1px #FFF;
    border-bottom: solid 1px #999;
    cursor: default;
    padding: 0em;
    margin: 0em;
}

.step_first {
    background: url(../../images/theme-red/step-first_incomplete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
}

.step_first_done {
    background: url(../../images/theme-red/step-first_complete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    color: #fff;
}

.step_first_cur {
    background: url(../../images/theme-red/step-first_complete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
    color: #fff;
}

.step_mid {
    background: url(../../images/theme-red/step-n_incomplete.jpg) no-repeat;
    width: 116px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
}

.step_mid_done {
    background: url(../../images/theme-red/step-n_complete.jpg) no-repeat;
    width: 116px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    color: #fff;
}

.step_mid_cur {
    background: url(../../images/theme-red/step-n_complete.jpg) no-repeat;
    width: 116px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
    color: #fff;
}

.step_last {
    background: url(../../images/theme-red/step-last_incomplete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
}

.step_last_done {
    background: url(../../images/theme-red/step-last_complete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    color: #fff;
}

.step_last_cur {
    background: url(../../images/theme-red/step-last_complete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
    color: #fff;
}


.header {
    background-image: url(../../images/theme-red/tablesorter/header-bg.png);
    background-repeat: no-repeat;
/*background-repeat: repeat-x;*/
/*background-position: 50px;*/
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding-left: 10px;
    height: 36px;
    text-align: center;
}

.headerSortUp {
    background-image: url(../../images/theme-red/tablesorter/header-asc.png);
    background-repeat: no-repeat;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    padding-left: 10px;
    height: auto;
}

.headerSortDown {
    background-image: url(../../images/theme-red/tablesorter/header-desc.png);
    background-repeat: no-repeat;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    padding-left: 10px;
    height: auto;
}

ul.items_list div {
    background: no-repeat right #CDE4F2;
    background-image: url(../../images/theme-red/tablesorter/cross.png);
    vertical-align: middle;
    color: #000;
    text-align: left;
    cursor: pointer;
    margin: 1px;
    width: 117px;
    height: 20px;
    padding-top: 8px;
    text-indent: 6px;
    font-size: 13px;
}

div.sub_keywords {
    font-weight: bold;
    text-align: center;
    width: 121px;
    height: 23px;
    font-size: 12px;
    color: #ffffff;
    padding-top: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    background-image: url(../../images/theme-red/tablesorter/header.png);
}

.ui-state-default, .ui-widget-content .ui-state-default {
	border: 1px solid;
	background: url(../../images/theme-red/jquery-ui/ui-bg_gloss-wave_75_2191c0_500x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #ffffff;
	outline: none;
	background-color: #999999;
	border-color: #8D92A0;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
	border: 1px solid;
	background: url(../../images/theme-red/jquery-ui/ui-bg_gloss-wave2_75_2191c0_500x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #026890;
	outline: none;
	border-color: #B1B8C7;
}

.ui-state-active, .ui-widget-content .ui-state-active {
	border: 1px solid;
	background: url(../../images/theme-red/jquery-ui/ui-bg_gloss-wave_50_6eac2c_500x100.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #ffffff;
	outline: none;
	border-color: #B1B8C7;
}


.ui-state-hover a, .ui-state-hover a:hover {
	color: #FFFFFF;
	text-decoration: none;
	outline: none;


}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #ffffff; text-decoration: none; outline: none; }


.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; outline: none; text-decoration: none; }

/* Addition to that following images to be created according the theme and to be placed accordingly

ui-bg_gloss-wave_50_6eac2c_500x100.png
ui-bg_gloss-wave_75_2191c0_500x100.png

Those images to be copied images\jquery-ui folder

header.png
header.png
header-bg.png
header-desc.png

Those images to be copied images\tablesorter folder

step-first_complete.jpg
step-first_incomplete.jpg
step-last_complete.jpg
step-last_incomplete.jpg
step-n_complete.jpg
step-n_incomplete.jpg


 */
