/* CSS Document */
/* Please refer the branding document guidelines to change the theme of the web site */
/*To change the top banner of the site upload the banner image (soltura-top.jpg) to the images folder */
@font-face {
    font-family: 'VodafoneRg';
    src: url('../../fonts/VodafoneRg.eot');
    src: local('VodafoneRg'), url('../../fonts/VodafoneRg.woff') format('woff'), url('../../fonts/VodafoneRg.ttf') format('truetype'), url('../../fonts/VodafoneRg.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Vodafone Regular";
    src: url('../../fonts/fonco_font_rg_eot.eot');
    src: url("../../fonts/fonco_font_rg_eot.eot?#iefix") format("embedded-opentype"), url("../../fonts/fonco_font_rg_woff.woff") format("woff"), url("../../fonts/fonco_font_rg_ttf.ttf") format("truetype"), url("../../fonts/fonco_font_rg_svg.svg#VodafoneRgRegular") format("svg")
}

@font-face {
    font-family: "Vodafone Light";
    src: url('../../fonts/fonco_font_lt_eot.eot');
    src: url("../../fonts/fonco_font_lt_eot.eot?#iefix") format("embedded-opentype"), url("../../fonts/fonco_font_lt_woff.woff") format("woff"), url("../../fonts/fonco_font_lt_ttf.ttf") format("truetype"), url("../../fonts/fonco_font_lt_svg.svg#VodafoneLtRegular") format("svg")
}

#header {
    background: #fff url("../../images/theme-vm/soltura-top.jpg") no-repeat 0 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*To change the background image of the login page upload the soltura-bottom.jpg image to the images folder */
#header_login {
    background-color: transparent;
    padding: 25px 0px 5px 0px;
    background: url("../../images/theme-vm/soltura-bottom.jpg") bottom no-repeat;
}

#brand-logo {
    background: url("../../images/theme-vm/brand-logo-additional.png") no-repeat;
    width: 512px;
    height: 1100px;
    position: absolute;
    left: -275px;
    top: -430px;
    display: none;
}

/*To change the welcome image of the site upload the welcome image (welcome.jpg) to the images folder */
#welcome {
    background: url(../../images/theme-vm/welcome.jpg) no-repeat;
    padding-top: 30px;
}

/*To change the background image for the entire site add the background image <bg.jpg> to the images folder and change the color property in the following <background: #FFFFFF  url("../images/bg.jpg") repeat-x;>*/
body {
    background: #e2e2e2 url("../../images/theme-vm/bg.jpg") repeat-x !important;
    margin: 0;
    padding: 0;
    font: 13px / 16px "Lucida Grande", Arial, Sans-serif;
    /*color: #789;*/
    color: #333;
}

/*To change the footer color change the <background-color: #d2060e;> */
#trends {
    text-align: left;
    position: relative;
    padding: 10px 0 10px 0;
    overflow: hidden;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #E60000;
    background-repeat: repeat-x;
    background-position: right;
    color: #FFFFFF;
}

/*To change the footer navigation link colors change the <color: #FFFFFF;> */
#trends a, #trends li span {
    display: inline-block;
    padding: 0 15px 0 0;
    color: #FFFFFF;
    outline: none;
    font-size: 15px;
}

#trends a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

/*To change the footer link colors change the <color: #FFFFFF;> */
#footer a {
    color: #333;
    text-decoration: none;
}

#footer a:hover {
    color: #E60000;
    text-decoration: none;
}

/*To change the top navigation text color change the <color: #BB030B;> */
#topnav {
    font-size: 10pt;
    line-height: 23px;
    padding-top: 24px;
    text-align: left;
    padding-bottom: 5px;
    color: #333;
}

/*To change the top navigation  link color change the <color: #88929F>*/
#topnav a, #topnav li span {
    display: inline-block;
    padding: 0 15px 0 0;
    color: #333;
    outline: none;
}

#topnav a:hover {
    color: #E60000;
    text-decoration: none;
}

/*To change the title box color change back ground image by adding title_bg.png to the images folder*/
/*To change the border color of the tile boxes change the color in this <border: 1px solid #BB030B;>*/
.widget .widget-top, .postbox h3, .stuffbox h3 {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 55%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(55%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 55%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 55%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 55%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 55%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    border: 1px solid #A7A7A7;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
    /*widget heading color*/
    color: #E60000;
    font-weight: bold;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 6px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    width: auto;
    font-size: 15px;
}

.save_success_msg {
    color: #49ab18;
    line-height: 30px;
}

/*To change the title box color in advance configuration section change back ground image by adding title_bg.png to the images folder*/
/*To change the border color of the tile boxes change the color in this <border: 1px solid #BB030B;>*/
.expand a:link, .expand a:visited {
    border: 1px solid #A7A7A7;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
    /*widget heading color*/
    color: #E60000;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    width: 600px;
    font-size: 14px;
    background: rgba(244, 244, 244, 0.77);
}

/*To change the border color of the tile boxes in the advance configuration change the color in this <border: 1px solid #BB030B;>*/
.expand a:hover, .expand a:active, .expand a:focus {
    text-decoration: underline;
    border: 1px solid #A7A7A7;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
    /*widget heading color*/
    color: #E60000;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    /*outline-color: -moz-use-text-color;*/
    outline-style: none;
    outline-width: medium;
    width: 600px;
    font-size: 14px;
    background:  rgba(244, 244, 244, 0.77) url(../../images/theme-vm/arrow-up.png) no-repeat 98% 50% ;
}

/*To change the border color of the tile boxes in the advance configuration change the color in this <border: 1px solid #BB030B;>*/
.expand a.open:link, .expand a.open:visited {
    border: 1px solid #A7A7A7;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
    /*widget heading color*/
    color: #E60000;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    /*outline-color: -moz-use-text-color;*/
    outline-style: none;
    outline-width: medium;
    width: 600px;
    font-size: 14px;
    background: rgba(244, 244, 244, 0.77) url(../../images/theme-vm/arrow-down.png) no-repeat 98% 50%;
}

/*To change the links color in the UI change this property <color: #BB030B;> */
a:link, a:visited {
    color: #333;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #E60000;
    text-decoration: none;
}

/*To change the table header colors change this property <background-color: #A9AFBA;>   */
.report_table_header tr th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #1B1B1B;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFFFFF;
}

/*To change the table body content  colors change this property <background-color: #E3E4E8>   */
.report_table_header tr td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #1B1B1B;
    text-align: left;
    vertical-align: top;
    height: 30px;
    background-color: #FFFFFF;
    padding-top: 5px;
}

.report_table_header {
    border-collapse: collapse;
}

.report_table_header, td, th {
    border: 1px solid #C2C7CD;
}

/*To change the table body content  colors change this property background-color: #E3E4E8>  */
.report_table tr td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #1B1B1B;
    text-align: right;
    padding: 5px 10px 0 10px;
    vertical-align: top;
    height: 30px;
    background-color: #FFFFFF;
    /*border: #C2C7CD solid 1px;*/
}

.report_table {
    border-collapse: collapse;
}

.report_table, td, th {
    border: 1px solid #C2C7CD;
}

/*To change the page heading text colors change the <color: #333333;> */
h1 {
    padding: 8px;
    display: block;
    text-align: center;
    margin: 45px auto 20px auto !important;
    display: block;
    text-align: center;
    font-weight: normal;
    font-family: Arial,sans-serif;
    font-size: 23px;
    color: #333333;
}

/*To change the bol text colors change the <color: #333333;> */
.bold_text {
    /*color: #333333;*/
    font-size: 13px;
    font-weight: bold;
}

/*To change the my application view link colors change the <color:#21759b;> */
.my_app_link a {
    text-decoration: none;
    color: #21759b;
}

#dashboard_quick_press h4 label {
    margin-right: 10px;
    color: #464646;
    font-size: 14px;
}

.menu_title {
    padding-left: 40px;
    /*font-family: Arial,sans-serif;*/
    color: #333333;
    width: 200px;
}

#login form .submit input {
    border-color: #bbb !important;
    color: #464646;
    background: #f2f2f2 url(../../images/theme-vm/white-grad.png) repeat-x scroll left top;
}

#login form .submit input:hover,
input[type=button]:hover,
input[type=submit]:hover {
    color: #464646;
!important;
    border-color: #666 !important;
}

.button, .submit input, .button-secondary {
    background: #f2f2f2 url(../../images/theme-vm/white-grad.png) repeat-x scroll left top;
}

.button, .button-secondary, .submit input, input[type="button"], input[type="submit"] {
    border-color: #bbbbbb;
    color: #464646;
}

label {
    color: #333;
    font-size: 13px;
}

.confirm {
    font-size: 2;
    color: #49ab18;
    /*color:#ff6633;*/
}

#success_link a {
    color: #789;
}

.success_msg {
    color: #91B61F;
}

.ui-state-active, .ui-widget-content .ui-state-active {
    border: 1px solid #C2C7CD;
    background: url(../../images/theme-vm/ui-bg_gloss-wave2_75_2191c0_500x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #E60000;
    outline: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
    border: 1px solid #C2C7CD;
    background: url(../../images/theme-vm/ui-bg_gloss-wave2_75_2191c0_500x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #026890;
    outline: none;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    border: 1px solid #C2C7CD;
    background: url(../../images/theme-vm/ui-bg_gloss-wave_75_2191c0_500x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #333;
    outline: none;
    background-color: #999999;
}

.ui-state-hover a, .ui-state-hover a:hover {
    color: #E60000;
    text-decoration: none;
    outline: none;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #333;
    text-decoration: none;
    outline: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #E60000;
    outline: none;
    text-decoration: none;
}

.step_first {
    background: url(../../images/theme-vm/step-first_complete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
}

.step_first_done {
    background: url(../../images/theme-vm/step-first_complete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    color: #fff;
}

.step_first_cur {
    background: url(../../images/theme-vm/step-first_complete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
    color: #fff;
}

.step_mid {
    background: url(../../images/theme-vm/step-n_incomplete.jpg) no-repeat;
    width: 116px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
}

.step_mid_done {
    background: url(../../images/theme-vm/step-n_complete.jpg) no-repeat;
    width: 116px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    color: #fff;
}

.step_mid_cur {
    background: url(../../images/theme-vm/step-n_complete.jpg) no-repeat;
    width: 116px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
    color: #fff;
}

.step_last {
    background: url(../../images/theme-vm/step-last_incomplete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
}

.step_last_done {
    background: url(../../images/theme-vm/step-last_complete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    color: #fff;
}

.step_last_cur {
    background: url(../../images/theme-vm/step-last_complete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
    color: #fff;
}

.home {
    width: 30px;
    float:left;
    text-align: left;
}

.header {
    background-image: url(../../images/theme-vm/tablesorter/header-bg.png);
    background-repeat: no-repeat;
    /*background-repeat: repeat-x;*/
    /*background-position: 50px;*/
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding-left: 10px;
    height: 36px;
    text-align: center;
}

.headerSortUp {
    background-image: url(../../images/theme-vm/tablesorter/header-asc.png);
    background-repeat: no-repeat;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    padding-left: 10px;
    height: auto;
}

.headerSortDown {
    background-image: url(../../images/theme-vm/tablesorter/header-desc.png);
    background-repeat: no-repeat;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    padding-left: 10px;
    height: auto;
}

ul.items_list div {
    background: no-repeat right #CDE4F2;
    background-image: url(../../images/theme-vm/tablesorter/cross.png);
    vertical-align: middle;
    color: #000;
    text-align: left;
    cursor: pointer;
    margin: 1px;
    width: 117px;
    height: 20px;
    padding-top: 8px;
    text-indent: 6px;
    font-size: 13px;
}

#popup_container {
    font-family: Arial, sans-serif;
    font-size: 12px;
    min-width: 300px; /* Dialog will be no smaller than this */
    max-width: 600px; /* Dialog will wrap after this width */
    background: #FFF;
    border: solid 3px #333333;
    color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#popup_title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1.75em;
    color: #ffffff;
    background: #E60000 url(../../images/theme-vm/title_bg.png) top repeat-x;
    border: solid 1px #FFF;
    border-bottom: solid 1px #999;
    cursor: default;
    padding: 0em;
    margin: 0em;
}

#content .navi_link a:hover {
    text-decoration: underline;
    color: blue;
}

#mod-navigation ul li a {
    color: #333;
}

#mod-navigation ul li a:hover {
    color: #E60000;
}

.ui-tabs .ui-tabs-nav li{
    width:210.5px;
}


#menu_req li a:link, #menu_req li a:visited  {
    color: #333;
    display: block;
    background:  url(../../images/theme-vm/app_type.jpg) 0 -900px;
}

#menu_req li a:hover {
    color: #FFF;
    background:  url(../../images/theme-vm/app_type.jpg) 0 -975px;
}

#menu_channel li a:link, #menu_channel li a:visited  {
    color: #333;
    display: block;
    background:  url(../../images/theme-vm/app_type.jpg) 0 -150px;
}

#menu_channel li a:hover {
    color: #FFF;
    background:  url(../../images/theme-vm/app_type.jpg) 0 -225px;
}

#menu_voting li a:link, #menu_voting li a:visited  {
    color: #333;
    display: block;
    background:  url(../../images/theme-vm/app_type.jpg) 0 0px;
}

#menu_voting li a:hover {
    color: #FFF;
    background:  url(../../images/theme-vm/app_type.jpg) 0 -75px;
}

#menu_alert li a:link, #menu_alert li a:visited  {
    color: #333;
    display: block;
    background:  url(../../images/theme-vm/app_type.jpg) 0 -600px;
}

#menu_alert li a:hover {
    color: #FFF;
    background:  url(../../images/theme-vm/app_type.jpg) 0 -674px;
}


#header2 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/*From scroll_style.css*/
#actions a {
    font-size:12px;
    cursor:pointer;
    /*color:#666;*/

    font-family: 'lucida grande', sans-serif;
    color: #2276bb;
    text-decoration: none;
}