/*datepicker*/
/* Main Style Sheet for jQuery UI date picker */
#ui-datepicker-div, .ui-datepicker-div, .ui-datepicker-inline {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 0.8; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Trebuchet MS, Arial, sans-serif;
	background-color: #3e3d3d;
	font-size: 1em;
	border: 1px solid #777777;
	width: 15.9em;
	padding: 2.3em .3em .3em .3em;
	position: relative;
}
#ui-datepicker-div,
.ui-datepicker-div {
	z-index: 9999; /*must have*/
	display: none;
	background: #3e3d3d;
}
.ui-datepicker-inline {
	float: left;
	display: block;	
}
.ui-datepicker-control {
	display: none;
}
.ui-datepicker-current {
	display: none;
}
.ui-datepicker-next, .ui-datepicker-prev {
	position: absolute;
	left: .5em;
	top: .5em;
	background: #444444 url(../../images/calendar/444444_40x100_textures_02_glass_25.png) 0 50% repeat-x;
}
.ui-datepicker-next {
	left: 14.6em;
}
.ui-datepicker-next:hover, .ui-datepicker-prev:hover {
	background: #333333 url(../../images/calendar/333333_40x100_textures_02_glass_25.png) 0 50% repeat-x;
}
.ui-datepicker-next a,
.ui-datepicker-next label,
.ui-datepicker-prev label,
.ui-datepicker-prev a {
	text-indent: -999999px;
	width: 1.3em;
	height: 1.4em;
	display: block;
	font-size: 1em;
	background: url(../../images/calendar/eeeeee_7x7_arrow_left.gif) 50% 50% no-repeat;
	border: 1px solid #777777;
	cursor: pointer;
}
.ui-datepicker-next label,
.ui-datepicker-next a {
	background: url(../../images/calendar/eeeeee_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-prev a:hover {
	background: url(../../images/calendar/ffd40f_7x7_arrow_left.gif) 50% 50% no-repeat;
}
.ui-datepicker-next a:hover {
	background: url(../../images/calendar/ffd40f_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-prev a:active {
	background: url(../../images/calendar/ffffff_7x7_arrow_left.gif) 50% 50% no-repeat;
}
.ui-datepicker-next a:active {
	background: url(../../images/calendar/ffffff_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-header select {
	border: 1px solid #777777;
	color: #cfcfcf;
	background: #444444;
	font-size: 1em;
	line-height: 1.4em;
	position: absolute;
	top: .5em;
	margin: 0 !important;
	
}
.ui-datepicker-header select.ui-datepicker-new-month {
width: 7em;
left: 2.2em;
}
.ui-datepicker-header select.ui-datepicker-new-year {
width: 5em;
left: 9.4em;
}
table.ui-datepicker {
	width: 15.5em;
	text-align: right;
}
table.ui-datepicker td.ui-datepicker-unselectable
{
	padding: .1em .3em .1em 0;
	border: 1px solid transparent;
}
table.ui-datepicker td a {
	padding: .1em .3em .1em 0;
	display: block;
	color: #cfcfcf;
	background: #444444 url(../../images/calendar/444444_40x100_textures_02_glass_25.png) 0 50% repeat-x;
	cursor: pointer;
	border: 1px solid #3e3d3d;
}
table.ui-datepicker td a:hover {
	border: 1px solid #444444;
	color: #ffffff;
	background: #333333 url(../../images/calendar/333333_40x100_textures_02_glass_25.png) 0 50% repeat-x;
}
table.ui-datepicker td a:active {
	border: 1px solid #841515;
	color: #ffffff;
	background: #841515 url(../../images/calendar/841515_40x100_textures_02_glass_35.png) 0 50% repeat-x;
}
table.ui-datepicker .ui-datepicker-title-row td {
	padding: .3em 0;
	text-align: center;
	font-size: .9em;
	color: #cfcfcf;
	text-transform: uppercase;
	/*border-bottom: 1px solid #777777;*/
}

table.ui-datepicker .ui-datepicker-title-row td a {
	color: #cfcfcf;
}

table.ui-datepicker td.ui-datepicker-current-day a,
table.ui-datepicker td.selected a
{
	color: black;
	background: #999999 url(../../images/calendar/999999_40x100_textures_02_glass_25.png) 0 50% repeat-x;
}

table.ui-datepicker td.ui-datepicker-today a
{
	color: black;
	background: #a21111 url(../../images/calendar/a21111_40x100_textures_02_glass_35.png) 0 50% repeat-x;
}










/*
Generic ThemeRoller Classes
>> Make your jQuery Components ThemeRoller-Compatible!
*/

/*component global class*/
.ui-component {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 1.1em;
}
/*component content styles*/
.ui-component-content {
	border: 1px solid #777777;
	background: #3e3d3d;
	color: #cfcfcf;
}
.ui-component-content a {
	color: #cfcfcf;
	text-decoration: underline;
}
/*component states*/
.ui-default-state {
	border: 1px solid #777777;
	background: #444444 url(../../images/calendar/444444_40x100_textures_02_glass_25.png) 0 50% repeat-x;
	font-weight: bold;
	color: #cfcfcf !important;
}
.ui-default-state a {
	color: #cfcfcf;
}
.ui-default-state:hover, .ui-hover-state {
	border: 1px solid #444444;
	background: #333333 url(../../images/calendar/333333_40x100_textures_02_glass_25.png) 0 50% repeat-x;
	font-weight: bold;
	color: #ffffff !important;
}
.ui-hover-state a {
	color: #ffffff;
}
.ui-default-state:active, .ui-active-state {
	border: 1px solid #841515;
	background: #841515 url(../../images/calendar/841515_40x100_textures_02_glass_35.png) 0 50% repeat-x;
	font-weight: bold;
	color: #ffffff !important;
	outline: none;
}
.ui-active-state a {
	color: #ffffff;
	outline: none;
}
/*icons*/
.ui-arrow-right-default {background: url(../../images/calendar/eeeeee_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-right-default:hover, .ui-arrow-right-hover {background: url(../../images/calendar/ffd40f_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-right-default:active, .ui-arrow-right-active {background: url(../../images/calendar/ffffff_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-left-default {background: url(../../images/calendar/eeeeee_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-left-default:hover, .ui-arrow-left-hover {background: url(../../images/calendar/ffd40f_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-left-default:active, .ui-arrow-left-active {background: url(../../images/calendar/ffffff_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-down-default {background: url(../../images/calendar/eeeeee_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-down-default:hover, .ui-arrow-down-hover {background: url(../../images/calendar/ffd40f_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-down-default:active, .ui-arrow-down-active {background: url(../../images/calendar/ffffff_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-up-default {background: url(../../images/calendar/eeeeee_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-arrow-up-default:hover, .ui-arrow-up-hover {background: url(../../images/calendar/ffd40f_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-arrow-up-default:active, .ui-arrow-up-active {background: url(../../images/calendar/ffffff_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-close-default {background: url(../../images/calendar/eeeeee_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-close-default:hover, .ui-close-hover {background: url(../../images/calendar/ffd40f_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-close-default:active, .ui-close-active {background: url(../../images/calendar/ffffff_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-folder-closed-default {background: url(../../images/calendar/eeeeee_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-closed-default:hover, .ui-folder-closed-hover {background: url(../../images/calendar/ffd40f_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-closed-default:active, .ui-folder-closed-active {background: url(../../images/calendar/ffffff_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-open-default {background: url(../../images/calendar/eeeeee_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-folder-open-default:hover, .ui-folder-open-hover {background: url(../../images/calendar/ffd40f_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-folder-open-default:active, .ui-folder-open-active {background: url(../../images/calendar/ffffff_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-doc-default {background: url(../../images/calendar/eeeeee_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-doc-default:hover, .ui-doc-hover {background: url(../../images/calendar/ffd40f_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-doc-default:active, .ui-doc-active {background: url(../../images/calendar/ffffff_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-default {background: url(../../images/calendar/eeeeee_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-default:hover, .ui-arrows-leftright-hover {background: url(../../images/calendar/ffd40f_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-default:active, .ui-arrows-leftright-active {background: url(../../images/calendar/ffffff_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-updown-default {background: url(../../images/calendar/eeeeee_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-arrows-updown-default:hover, .ui-arrows-updown-hover {background: url(../../images/calendar/ffd40f_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-arrows-updown-default:active, .ui-arrows-updown-active {background: url(../../images/calendar/ffffff_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-minus-default {background: url(../../images/calendar/eeeeee_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-minus-default:hover, .ui-minus-hover {background: url(../../images/calendar/ffd40f_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-minus-default:active, .ui-minus-active {background: url(../../images/calendar/ffffff_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-plus-default {background: url(../../images/calendar/eeeeee_11x11_icon_plus.gif) no-repeat 50% 50%;}
.ui-plus-default:hover, .ui-plus-hover {background: url(../../images/calendar/ffd40f_11x11_icon_plus.gif) no-repeat 50% 50%;}
.ui-plus-default:active, .ui-plus-active {background: url(../../images/calendar/ffffff_11x11_icon_plus.gif) no-repeat 50% 50%;}
/*hidden elements*/
.ui-hidden {
	display: none;/* for accessible hiding: position: absolute; left: -99999999px*/
}
.ui-accessible-hidden {
	 position: absolute; left: -99999999px;
}
/*reset styles*/
.ui-reset {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
}
/*clearfix class*/
.ui-clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.ui-clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .ui-clearfix {height: 1%;}
.ui-clearfix {display: block;}
/* End hide from IE-mac */

/* Note: for resizable styles, use the styles listed above in the dialog section */

.vehicleDetail > td:first-child
{
	border-left: solid 1px black;
	border-bottom: solid 1px black;
}

.vehicleDetail > td:last-child 
{
	border-right: solid 1px black;
	border-bottom: solid 1px black;
}

.vehicleDetail > td:last-child > table > tbody > tr > td:last-child
{
	color: White;
}

.showWhenSelected
{	
	visibility: hidden;
}