/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
	cw=33 * 18
	gw=11 * 18
*/


/* Containers
----------------------------------------------------------------------------------------------------*/
.container_18 {
	margin-left: auto;
	margin-right: auto;
	width: 792px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 6px;
	margin-right: 5px;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 18 Columns
----------------------------------------------------------------------------------------------------*/

.container_18 .grid_1 {
	width:33px;
}

.container_18 .grid_2 {
	width:77px;
}

.container_18 .grid_3 {
	width:121px;
}

.container_18 .grid_4 {
	width:165px;
}

.container_18 .grid_5 {
	width:209px;
}

.container_18 .grid_6 {
	width:253px;
}

.container_18 .grid_7 {
	width:297px;
}

.container_18 .grid_8 {
	width:341px;
}

.container_18 .grid_9 {
	width:385px;
}

.container_18 .grid_10 {
	width:429px;
}

.container_18 .grid_11 {
	width:473px;
}

.container_18 .grid_12 {
	width:517px;
}

.container_18 .grid_13 {
	width:561px;
}

.container_18 .grid_14 {
	width:605px;
}

.container_18 .grid_15 {
	width:649px;
}

.container_18 .grid_16 {
	width:693px;
}

.container_18 .grid_17 {
	width:737px;
}

.container_18 .grid_18 {
	width:781px;
}



/* Prefix Extra Space >> 18 Columns
----------------------------------------------------------------------------------------------------*/

.container_18 .prefix_1 {
	padding-left:44px;
}

.container_18 .prefix_2 {
	padding-left:88px;
}

.container_18 .prefix_3 {
	padding-left:132px;
}

.container_18 .prefix_4 {
	padding-left:176px;
}

.container_18 .prefix_5 {
	padding-left:220px;
}

.container_18 .prefix_6 {
	padding-left:264px;
}

.container_18 .prefix_7 {
	padding-left:308px;
}

.container_18 .prefix_8 {
	padding-left:352px;
}

.container_18 .prefix_9 {
	padding-left:396px;
}

.container_18 .prefix_10 {
	padding-left:440px;
}

.container_18 .prefix_11 {
	padding-left:484px;
}

.container_18 .prefix_12 {
	padding-left:528px;
}

.container_18 .prefix_13 {
	padding-left:572px;
}

.container_18 .prefix_14 {
	padding-left:616px;
}

.container_18 .prefix_15 {
	padding-left:660px;
}

.container_18 .prefix_16 {
	padding-left:704px;
}

.container_18 .prefix_17 {
	padding-left:748px;
}



/* Suffix Extra Space >> 18 Columns
----------------------------------------------------------------------------------------------------*/

.container_18 .suffix_1 {
	padding-right:44px;
}

.container_18 .suffix_2 {
	padding-right:88px;
}

.container_18 .suffix_3 {
	padding-right:132px;
}

.container_18 .suffix_4 {
	padding-right:176px;
}

.container_18 .suffix_5 {
	padding-right:220px;
}

.container_18 .suffix_6 {
	padding-right:264px;
}

.container_18 .suffix_7 {
	padding-right:308px;
}

.container_18 .suffix_8 {
	padding-right:352px;
}

.container_18 .suffix_9 {
	padding-right:396px;
}

.container_18 .suffix_10 {
	padding-right:440px;
}

.container_18 .suffix_11 {
	padding-right:484px;
}

.container_18 .suffix_12 {
	padding-right:528px;
}

.container_18 .suffix_13 {
	padding-right:572px;
}

.container_18 .suffix_14 {
	padding-right:616px;
}

.container_18 .suffix_15 {
	padding-right:660px;
}

.container_18 .suffix_16 {
	padding-right:704px;
}

.container_18 .suffix_17 {
	padding-right:748px;
}



/* Push Space >> 18 Columns
----------------------------------------------------------------------------------------------------*/

.container_18 .push_1 {
	left:44px;
}

.container_18 .push_2 {
	left:88px;
}

.container_18 .push_3 {
	left:132px;
}

.container_18 .push_4 {
	left:176px;
}

.container_18 .push_5 {
	left:220px;
}

.container_18 .push_6 {
	left:264px;
}

.container_18 .push_7 {
	left:308px;
}

.container_18 .push_8 {
	left:352px;
}

.container_18 .push_9 {
	left:396px;
}

.container_18 .push_10 {
	left:440px;
}

.container_18 .push_11 {
	left:484px;
}

.container_18 .push_12 {
	left:528px;
}

.container_18 .push_13 {
	left:572px;
}

.container_18 .push_14 {
	left:616px;
}

.container_18 .push_15 {
	left:660px;
}

.container_18 .push_16 {
	left:704px;
}

.container_18 .push_17 {
	left:748px;
}



/* Pull Space >> 18 Columns
----------------------------------------------------------------------------------------------------*/

.container_18 .pull_1 {
	left:-44px;
}

.container_18 .pull_2 {
	left:-88px;
}

.container_18 .pull_3 {
	left:-132px;
}

.container_18 .pull_4 {
	left:-176px;
}

.container_18 .pull_5 {
	left:-220px;
}

.container_18 .pull_6 {
	left:-264px;
}

.container_18 .pull_7 {
	left:-308px;
}

.container_18 .pull_8 {
	left:-352px;
}

.container_18 .pull_9 {
	left:-396px;
}

.container_18 .pull_10 {
	left:-440px;
}

.container_18 .pull_11 {
	left:-484px;
}

.container_18 .pull_12 {
	left:-528px;
}

.container_18 .pull_13 {
	left:-572px;
}

.container_18 .pull_14 {
	left:-616px;
}

.container_18 .pull_15 {
	left:-660px;
}

.container_18 .pull_16 {
	left:-704px;
}

.container_18 .pull_17 {
	left:-748px;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

/*.clear {*/
	/*clear: both;*/
	/*display: block;*/
	/*overflow: hidden;*/
	/*visibility: hidden;*/
	/*width: 0;*/
	/*height: 0;*/
/*}*/

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}