/* CSS Document */
/* Please refer the branding document guidelines to chnage the theme of the web site */
/*To change the top banner of the site upload the banner image (soltura-top.jpg) to the images folder */
#header {
    background: #fff url("../../images/theme-vm/soltura-top.jpg") no-repeat 0 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*To change the background image of the login page upload the soltura-bottom.jpg image to the images folder */
#header_login {
    background-color: transparent;
    padding: 25px 0px 5px 0px;
    background: url(../../images/theme-vm/soltura-bottom.jpg) bottom no-repeat;
}

/*To change the welcome image of the site upload the welcome image (welcome.jpg) to the images folder */
#welcome {
    background:url(../../images/theme-vm/welcome.jpg) no-repeat;
    padding-top:30px;
}

/*To change the background image for the entire site add the background image <bg.jpg> to the images folder and change the color property in the following <background: #FFFFFF  url("../images/bg.jpg") repeat-x;>*/
body {
	background: #e2e2e2 url("../../images/theme-vm/bg.jpg") repeat-x !important;
	margin: 0;
	padding: 0;
	font: 13px / 16px "Lucida Grande", Arial, Sans-serif;
	/*color: #789;*/
	color:#666;
}

/*To change the footer color change the <background-color: #d2060e;> */
#trends {
	text-align: left;
	position: relative;
	padding:10px 0 10px 0;
	overflow: hidden;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #3E703B;
	background-repeat: repeat-x;
	background-position: right;
	color:#999;
}

/*To change the footer navigation link colors change the <color: #FFFFFF;> */
#trends a, #trends li span {
	display: inline-block;
	padding: 0 15px 0 0;
	color: #FFFFFF;
	outline: none;
	font-size: 15px;
}

/*To change the footer link colors change the <color: #FFFFFF;> */
#footer a {
color: #585757;
}

/*To change the top navigation text color change the <color: #BB030B;> */
#topnav {
	font-size: 11px;
	line-height: 23px;
	padding-top: 24px;
	text-align: right;
	padding-bottom:5px;
	color: #2c8526;
}

/*To change the top navigation  link color change the <color: #88929F>*/
#topnav a, #topnav li span {
	display: inline-block;	padding: 0 15px 0 0;
	color: #585757;
	outline: none;
}

/*To change the title box color change back ground image by adding title_bg.png to the images folder*/
/*To change the border color of the tile boxes change the color in this <border: 1px solid #BB030B;>*/
.widget .widget-top, .postbox h3, .stuffbox h3 {
    background: url(../../images/theme-vm/title_bg.png) repeat-x scroll 50% 50%;
    border: 1px solid #A7A7A7;
    margin-left:-1px;
    margin-right:-1px;
    margin-top:-1px;
/*widget heading color*/
    color: #ffffff;
    font-weight: bold;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 6px;
    border-top-right-radius:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:6px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    width:auto;
    font-size:15px;

}

/*To change the title box color in advance configuration section change back ground image by adding title_bg.png to the images folder*/
/*To change the border color of the tile boxes change the color in this <border: 1px solid #BB030B;>*/
.expand a:link,  .expand a:visited {
    background: #41833c url(../../images/theme-vm/title_bg.png) repeat-x scroll 50% 50%;
    border: 1px solid #77D5F7;
    margin-left:-1px;
    margin-right:-1px;
    margin-top:-1px;
/*widget heading color*/
    color: #ffffff;
    font-weight: bold;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    width:600px;
    font-size:14px;
}

/*To change the border color of the tile boxes in the advance configuration change the color in this <border: 1px solid #BB030B;>*/
.expand a:hover,  .expand a:active, .expand a:focus {
   text-decoration:underline;

    border: 1px solid #77D5F7;
    margin-left:-1px;
    margin-right:-1px;
    margin-top:-1px;
    color: #ffffff;
    font-weight: bold;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-top-left-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    /*outline-color: -moz-use-text-color;*/
    outline-style: none;
    outline-width: medium;
    width:600px;
    font-size:14px;
    background: #41833c url(../../images/theme-vm/advanceSetting/arrow-down.png) no-repeat 98% 50%;
}

/*To change the border color of the tile boxes in the advance configuration change the color in this <border: 1px solid #BB030B;>*/
 .expand a.open:link, .expand a.open:visited {
    border: 1px solid #77D5F7;
    margin-left:-1px;
    margin-right:-1px;
    margin-top:-1px;
    color: #ffffff;
    font-weight: bold;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    -webkit-border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    /*outline-color: -moz-use-text-color;*/
    outline-style: none;
    outline-width: medium;
    width:600px;
    font-size:14px;
    background: #41833c url(../../images/theme-vm/advanceSetting/arrow-up.png) no-repeat 98% 50%;
}

/*To change the links color in the UI chnage this property <color: #BB030B;> */
a:link, a:visited {
	color: #2276BB;
	text-decoration: none;
}

/*To change the table header clors chnage this property <background-color: #A9AFBA;>   */
.report_table_header tr th{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    color:#FFFFFF;
    height:30px;
    text-align: center;
    vertical-align: middle;
    background-color: #216719;
    /*padding-top:5px;*/
}

/*To change the table body content  colors chnage this property <background-color: #E3E4E8>   */
.report_table_header tr td{
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:normal;
    color:#1B1B1B;
    text-align:left;
    vertical-align:top;
    height:30px;
    background-color: #a9e0a3;
    padding-top:5px;
}

/*To change the table body content  colors chnage this property background-color: #E3E4E8>  */
.report_table tr td{
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:normal;
    color:#1B1B1B;
    text-align:right;
    padding: 5px 10px 0 10px;
    vertical-align:top;
    height:30px;
    background-color: #a9e0a3;
}

/*To change the page heading text colors change the <color: #333333;> */
h1 {
    padding: 8px;
    display: block;
    text-align: center;
    margin: 45px auto 20px auto !important;
    display: block;
    text-align: center;
    font-weight: normal;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 23px;
    color: #333333;
}

/*To change the bol text colors change the <color: #333333;> */
.bold_text {
    /*color: #333333;*/
    font-size: 13px;
    font-weight: bold;
}

/*To change the myapplication view link colors change the <color:#21759b;> */
.my_app_link a {
    text-decoration:none;
    color:#21759b;
}

#dashboard_quick_press h4 label {
    margin-right: 10px;
    color:#304991;
    font-size:14px;
}

.menu_title {
    padding-left:40px;
    color:#333333;
    width : 200px;

}

#login form .submit input {
    border-color: #bbb !important;
    color: #464646;
    background: #f2f2f2 url(../../images/theme-vm/white-grad.png) repeat-x scroll left top;
}

#login form .submit input:hover,
    input[type=button]:hover,
    input[type=submit]:hover {
    color: #464646; !important;
    border-color: #666 !important;
}


.button, .submit input, .button-secondary {
    background: #f2f2f2 url(../../images/theme-vm/white-grad.png) repeat-x scroll left top;
}

.button, .button-secondary, .submit input, input[type="button"], input[type="submit"] {
    border-color: #bbbbbb;
    color: #464646;
}

label {
    color: #616265;
    font-size: 13px;
}


.confirm {
font-size:2;
color:#49ab18;
/*color:#ff6633;*/
}


#success_link a {
    color: #789;
}

.success_msg {
color:#91B61F;
}


.ui-state-active, .ui-widget-content .ui-state-active {
	border: 1px solid;
	background: url(../../images/theme-vm/jquery-ui/ui-bg_gloss-wave_50_6eac2c_500x100.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #ffffff;
	outline: none;
	border-color: #B1B8C7;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
	border: 1px solid;
	background: url(../../images/theme-vm/jquery-ui/ui-bg_gloss-wave2_75_2191c0_500x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #026890;
	outline: none;
	border-color: #B1B8C7;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	border: 1px solid;
	background: url(../../images/theme-vm/jquery-ui/ui-bg_gloss-wave_75_2191c0_500x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color:#333;
	outline: none;
	background-color: #999999;
	border-color: #8D92A0;
}


.ui-state-hover a, .ui-state-hover a:hover {
	color: #FFFFFF;
	text-decoration: none;
	outline: none;


}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #ffffff; text-decoration: none; outline: none; }


.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; outline: none; text-decoration: none; }

.step_first {
    background: url(../../images/theme-vm/step-first_incomplete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
}

.step_first_done {
    background: url(../../images/theme-vm/step-first_complete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    color: #fff;
}

.step_first_cur {
    background: url(../../images/theme-vm/step-first_complete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
    color: #fff;
}

.step_mid {
    background: url(../../images/theme-vm/step-n_incomplete.jpg) no-repeat;
    width: 116px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
}

.step_mid_done {
    background: url(../../images/theme-vm/step-n_complete.jpg) no-repeat;
    width: 116px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    color: #fff;
}

.step_mid_cur {
    background: url(../../images/theme-vm/step-n_complete.jpg) no-repeat;
    width: 116px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
    color: #fff;
}

.step_last {
    background: url(../../images/theme-vm/step-last_incomplete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
}

.step_last_done {
    background: url(../../images/theme-vm/step-last_complete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    color: #fff;
}

.step_last_cur {
    background: url(../../images/theme-vm/step-last_complete.jpg) no-repeat;
    width: 122px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: default;
    color: #fff;
}

.header {
    background-image: url(../../images/theme-vm/tablesorter/header-bg.png);
    background-repeat: no-repeat;
/*background-repeat: repeat-x;*/
/*background-position: 50px;*/
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding-left: 10px;
    height: 36px;
    text-align: center;
}

.headerSortUp {
    background-image: url(../../images/theme-vm/tablesorter/header-asc.png);
    background-repeat: no-repeat;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    padding-left: 10px;
    height: auto;
}

.headerSortDown {
    background-image: url(../../images/theme-vm/tablesorter/header-desc.png);
    background-repeat: no-repeat;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    padding-left: 10px;
    height: auto;
}

ul.items_list div {
    background: no-repeat right #CDE4F2;
    background-image: url(../../images/theme-vm/tablesorter/cross.png);
    vertical-align: middle;
    color: #000;
    text-align: left;
    cursor: pointer;
    margin: 1px;
    width: 117px;
    height: 20px;
    padding-top: 8px;
    text-indent: 6px;
    font-size: 13px;
}

#popup_container {
    font-family: Arial, sans-serif;
    font-size: 12px;
    min-width: 300px; /* Dialog will be no smaller than this */
    max-width: 600px; /* Dialog will wrap after this width */
    background: #FFF;
    border: solid 3px #333333;
    color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#popup_title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1.75em;
    color: #ffffff ;
    background: #d2060e url(../../images/theme-vm/title_bg.png) top repeat-x;
    border: solid 1px #FFF;
    border-bottom: solid 1px #999;
    cursor: default;
    padding: 0em;
    margin: 0em;
}

#content .navi_link a:hover {
    text-decoration: underline;
    color: blue;
}

/*From scroll_style.css*/
#actions a {
    font-size:12px;
    cursor:pointer;
    /*color:#666;*/

    font-family: 'lucida grande', sans-serif;
    color: #2276bb;
    text-decoration: none;
}




