<?xml version="1.0" encoding='UTF-8'?>
<jsp:root version="2.0"
          xmlns="http://www.w3c.org/1999/xhtml"
          xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
          xmlns:spring="http://www.springframework.org/tags"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:form="http://www.springframework.org/tags/form"
          xmlns:c="http://java.sun.com/jsp/jstl/core"
          xmlns:jspx="http://www.w3.org/2001/XMLSchema"
          xsi:schemaLocation="http://www.w3c.org/1999/xhtml shttp://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd">
<jsp:directive.page contentType="text/html;charset=UTF-8"/>

<div id="header2">
<div style="clear:both;"><fmt:message key="blank"/></div>

<div id="body">
<div class="grid_1 alpha"><fmt:message key="blank"/></div>
<div class="grid_16">
<div id="dashboard-widgets-wrap">
<div id='dashboard-widgets' class='metabox-holder'>
<form:form method="post" commandName="registration" id="quick-press">

<div id="dashboard_quick_press" class="postbox">
    <h3 class='hndle'><span><fmt:message key='add.new.number'/></span></h3>

    <div class="inside">
        <div class="clear"> <!--wrap--> </div>
        <h4><label for="number"><fmt:message key='phone.number'/></label></h4>

        <div class="input_row">
            <form:errors path="chargingNumber" cssClass="error-req"/>

            <div class="input-text-wrap">
                <form:input path="chargingNumber" name="chargingNumber" id="chargingNumber"/>
            </div>
        </div>
        <h4><label for="operator"><fmt:message key='operator'/></label></h4>

        <div class="input_row">
            <form:errors path="operatorType" cssClass="error-req"/>

            <div class="input-text-wrap">
                <form:input path="operatorType" name="operatorType" id="operatorType"/>
            </div>
        </div>
        <div> <!--wrap--> </div>
    </div>

    <div class="clear"> <!--wrapper--> </div>
    <!--</div>-->
</div>
</form:form>


<!--<form:form method="post" name="confirmAlert" action="save.html" commandName="app">-->
<div style="text-align:center; width:100%">
                                                <span style="padding-right:10px">
                                                <jsp:element name="input">
                                                    <jsp:attribute name="type">button</jsp:attribute>
                                                    <jsp:attribute name="name">next</jsp:attribute>
                                                    <jsp:attribute name="id">next</jsp:attribute>
                                                    <jsp:attribute name="value"><fmt:message key='add'/></jsp:attribute>
                                                    <jsp:attribute name="class">button</jsp:attribute>
                                                    <jsp:attribute name="tabindex">6</jsp:attribute>
                                                    <jsp:attribute name="style">width:50px;</jsp:attribute>
                                                    <jsp:attribute name="onclick">location.href='confirm.html';</jsp:attribute>
                                                </jsp:element>
                                                </span>
                                                <span>
                                                    <jsp:element name="input">
                                                        <jsp:attribute name="type">button</jsp:attribute>
                                                        <jsp:attribute name="name">next</jsp:attribute>
                                                        <jsp:attribute name="id">next</jsp:attribute>
                                                        <jsp:attribute name="value"><fmt:message key='cancel'/></jsp:attribute>
                                                        <jsp:attribute name="class">button</jsp:attribute>
                                                        <jsp:attribute name="tabindex">6</jsp:attribute>
                                                        <jsp:attribute name="style">width:50px;</jsp:attribute>
                                                        <jsp:attribute name="onclick">location.href='cancel.html';</jsp:attribute>
                                                    </jsp:element>
                                                </span>
</div>
<div class="clear"><fmt:message key='blank'/></div>
<!--</form:form>-->
</div>
</div>
</div>
<div class="grid_1 omega"><fmt:message key="blank"/></div>
</div>
</div>
</jsp:root>