<?xml version="1.0" encoding='UTF-8'?>
<jsp:root version="2.0"
          xmlns="http://www.w3c.org/1999/xhtml"
          xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:tiles="http://jakarta.apache.org/struts/tags-tiles"
          xsi:schemaLocation="http://www.w3c.org/1999/xhtml http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>


    <tiles:insert page="../layout/mainLayout.jsp">
        <tiles:put name="page-title" type="string" value="My Settings"/>
        <tiles:put name="header" value="header.jsp"/>
        <tiles:put name="subHeader" value="blankPage.jsp"/>
        <tiles:put name="body" value="/WEB-INF/jsp/content/settings/mySettings.jspx"/>
        <tiles:put name="footer" value="footer.jsp"/>
    </tiles:insert>
</jsp:root>    